/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    border-spacing: 0;
}

.container{
    margin: auto;
    width: 80%;
}

/* header-top */
.header-top{
    background-color: cadetblue;
}

.header-top .container > * {
    background-color: orange;
    border: 1px dashed;
}

.header-top .container{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 15px;
    min-height: 80px;
}

header .logo, .login{
    width: 20%;
    height: 50px;
    padding: 15px 0;
}

.link{
    width: 60%;
    height: 50px;
    padding: 15px;
}

.login{
    text-align: right;
}

ul{
    display: flex;
    justify-content: center;
}

li {
    margin-left: 1em;
    list-style: none;
    padding: 0 8px;
}

/* blue and pink */
.header-bottom {
    background-color: blue;
    height: 400px;
}
  
.header-box {
    background-color: pink;
    border: 1px dashed black;
    height: 300px;
    width: 60%;
    margin: 50px 0;
  }

.blue{
    display: flex;
    justify-content: center;
  }

/* main */
section, .container{
    display: flex;
    justify-content: center;
}

section:nth-child(even){
    background-color: lightgray;
}

.big-box{
    background-color: lightskyblue;
    width: 60%;
    min-height: 350px;
}

.small-box{
    background-color: lightpink;
    width: 40%;
    min-height: 350px;
}

.green{
    background-color: green;
    border: 1px dashed black;
    width: 100%;
    margin: auto 0;
    min-height: 450px;
}

.box{
    margin: 50px 0;
    border: 1px dotted black;
}

/* footer */
footer{
    background-color: darkslategray;
}

.footer-top > *{
    min-height: 600px;
    border: 1px dashed black;
}

.footer-top .container{
    display: flex;
    justify-content: center;

}

.footer-box{
    width: 30%;
    min-height: 450px;
    border: 1px dotted black;
    background-color: pink;
    margin: 10px 0 20px 0;
}

.footer-big{
    display: flex;
    width: calc(100% - 30%);
    margin: 10px 0 20px 0;
}

.footer-small{
    width: 25%;
    border: 1px dotted white;
    background-color: mediumaquamarine;
}

.footer-bigger{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: 80px;
    margin-top: 20px
}

footer .logo, .signup{
    padding: 5px 10px;
    background-color: orange;
    border: 1px dotted black;
}

hr{
    width: 80%;
    margin: auto;
}
