/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    border-spacing: 0;
}

.container{
    margin: auto;
    width: 80%;
}

/* header-top */
.header-top{
    background-color: cadetblue;
}

.header-top .container > * {
    background-color: orange;
    border: 1px dashed;
}

.header-top .container{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 15px;
    min-height: 80px;
    align-items: center;
}

.logo, .login{
    width: 20%;
    height: 50px;
    padding: 15px 0;
}

.link{
    width: 60%;
    height: 50px;
    padding: 15px;
}

.login{
    text-align: right;
}

ul{
    display: flex;
    justify-content: center;
}

li {
    margin-left: 1em;
    list-style: none;
    padding: 0 8px;
}

/* blue and pink */
.header-bottom {
    background-color: blue;
    border-bottom: 1px solid black;
    height: 400px;
}
  
.header-box {
    background-color: pink;
    border: 2px dashed;
    height: 300px;
    width: 60%;
    margin: 50px 0;
  }

  .blue{
    display: flex;
    justify-content: center;
  }

  /* main */